.stepContainer {
  min-height: 370px;
}
.calculator_inner_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--color-bg-day);
  border-radius: 10px;
  background-color: var(--color-bg-day);
}
.buttonsContainer {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}
.calculator_inner_container h2 {
  align-self: center;
  margin: 1rem;
  margin-top: 2rem;
}
.calculator_inner_container p {
  align-self: center;
}
.stepContainer p {
  font-size: 0.8rem;
}
@media (max-width: 468px) {
  .stepContainer {
    min-height: 400px;
  }
}
