.finalStep__Container {
  display: flex;
  gap: 1rem;
  width: 30%;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.finalStep__Container h3 {
  text-align: center;
}

.finalStep__Data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .finalStep__Container {
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
  }
}
