.animation-3 {
  animation: fade-heading 0.5s ease-out;
  animation-play-state: running;
}
.animation-0 {
  animation: fadeInUp 1.5s ease 1.5s backwards;
}
.animation-1 {
  animation: fadeInUp 1.5s ease 1s backwards;
}

