.main-content-benefits {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.main-content-benefits-inner {

  max-width: 1200px;
  margin: 0 auto;
}
.main-content-benefits-inner-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.main-content-benefits h2 {
  color: var(--color-night);
  width: 1200px;
  margin: 3rem auto;
}
.box {
  --border-width: 4px;
  padding: 1rem;
  position: relative;
  color: var(--color-day);
  background-color: var(--color-bg-day);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.box span {
  font-family: "Fira sans";
}

.main-content-benefits .a {
  grid-column: 1;
  grid-row: 1;
}
.main-content-benefits .b {
  grid-column: 2;
  grid-row: 1;
}
.main-content-benefits .c {
  grid-column: 1 / 3;
  grid-row: 2;
}
.main-content-benefits .d {
  grid-column: 3;
  grid-row: 1 / 3;
}
.main-content-benefits .e {
  grid-column: 4;
  grid-row: 1;
}
.main-content-benefits .f {
  grid-column: 4;
  grid-row: 2;
}
.main-content-benefits .g {
  grid-column: 1 / 5;
  grid-row: 3;
}

@media (max-width: 768px) {
  .main-content-benefits-inner {
    max-width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: 1rem;

    
  }
  .main-content-benefits h2  {
    margin: 1rem
  }
  
  .main-content-benefits-inner-grid {
    display: flex;
    width: 2000px
  }
  .main-content-benefits-inner::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .main-content-benefits-inner::-webkit-scrollbar-thumb {
    background: var(--color-bg-day);
    border-radius: 10px;
  }
  .main-content-benefits-inner::-webkit-scrollbar-track {
    background: transparent;
  }
  .main-content-benefits-inner-grid > .box {
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    flex-basis: 100%;
    background: var(--color-bg-day) url('../assets/checked-svgrepo-com.svg') no-repeat;
    background-position: center 90%;
    background-size: 30%;

    }

}


