.main-content-gallery-container {
  margin-bottom: 5rem;
}
.main-content-gallery-container h2 {
  color: var(--color-day);
}
.main-content-gallery-inner-container {
  max-width: 1200px;
  margin: 1rem auto;
  margin-bottom: 0;
  border: 1px solid transparent;
}

#slider {
  position: relative;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  border-radius: 15px;
}
#slider ul {
  list-style: none;
}
#slider #div {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#slider #div input[type="radio"] {
  display: none;
}
#slider #div input[type="radio"]#slide-1:checked ~ #slider-full {
  left: 0vw;
}
#slider #div input[type="radio"]#slide-2:checked ~ #slider-full {
  left: -100vw;
}
#slider #div input[type="radio"]#slide-3:checked ~ #slider-full {
  left: -200vw;
}
#slider #div input[type="radio"]#slide-4:checked ~ #slider-full {
  left: -300vw;
}
#slider #div input[type="radio"]#slide-5:checked ~ #slider-full {
  left: -400vw;
}
#slider #div input[type="radio"]#slide-6:checked ~ #slider-full {
  left: -500vw;
}
#slider #slider-full {
  background-color: rgba(0, 0, 255, 0.3);
  height: 100%;
  width: 20000px;
  position: relative;
  left: 0vw;
  overflow: hidden;
  transition: all 0.3s ease;
}
#slider #slider-full .slide {
  display: block;
  float: left;
  width: 100vw;
  height: 100%;
  transition: all 0.3s ease;
  background-position: center;
}
#slider #slider-full .slide:hover span {
  background-color: #000;
  color: #fff;
}
#slider #slider-full .slide span {
  font-size: 3em;
  padding: 5px 10px;
  background-color: var(--color-night-transparent);
  position: relative;
  left: 10%;
  top: 50%;
  height: 80px;
  width: auto;
  line-height: 1.7;
  transition: all 0.3s ease;
}
#slider .slide-one {
  background-image: url("../assets/gal4.webp");
  background-size: contain;
}
#slider .slide-two {
  background-image: url("../assets/gal5.webp");
  background-size: cover;
}
#slider .slide-three {
  background-image: url("../assets/gal3.webp");
  background-size: contain;
}
#slider .slide-four {
  background-image: url("../assets/gal1.webp");
  background-size: cover;
}
#slider .slide-five {
  background-image: url("../assets/gal6.webp");
}
#slider .slide-six {
  background-image: url("../assets/gal2.webp");
  background-size: cover;
}
#slider #slider-thumb {
  height: 80px;
  width: auto;
  z-index: 500;
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  left: 10%;

}
#slider #slider-thumb label {
  color: var(--color-night);
  height: 100%;
  width: 160px;
  display: block;
  float: left;
  position: relative;
  font-size: 12px;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-out;
}
#slider #slider-thumb label[for="slide-1"] {
  background-image: url("../assets/gal4.webp");
}
#slider #slider-thumb label[for="slide-2"] {
  background-image: url("../assets/gal5.webp");
}
#slider #slider-thumb label[for="slide-3"] {
  background-image: url("../assets/gal3.webp");
}
#slider #slider-thumb label[for="slide-4"] {
  background-image: url("../assets/gal1.webp");
}
#slider #slider-thumb label[for="slide-5"] {
  background-image: url("../assets/gal6.webp");
}
#slider #slider-thumb label[for="slide-6"] {
  background-image: url("../assets/gal2.webp");
}
#slider #slider-thumb label:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  transition: all 0.2s ease-out;
  /*z-index: 1;*/
}
#slider #slider-thumb label:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  background-size: 110%;
  margin-top: -5px;
}
#slider #slider-thumb label:hover p {
  padding-bottom: 13px;
  padding-top: 13px;
}
#slider #slider-thumb label:hover:after {
  bottom: 100%;
}
#slider #slider-thumb label:hover:before {
  content: "";
  display: block;
  background-color: var(--color-day);
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 100%;
  /*z-index: 1;*/
}
#slider #slider-thumb label p {
  display: block;
  width: 100%;
  padding: 8px;
  bottom: 0;
  top: auto;
  /*height: 100%;*/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  position: absolute;
  /*margin: auto 0 10px 0;*/
  z-index: 10;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  #slider {
    height: 230px;
  }
  #slider #slider-thumb label {
    width: 59px;
    border-radius: 10px;
  }
  #slider #slider-full .slide span {
    top: 5%;
    left: 5%;
    font-size: 1rem;
  }
  #slider #slider-thumb {
    height: 70px;
    left: 1%;
    bottom: -25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    
  }
  .main-content-gallery-inner-container {
    margin: 1rem;
    margin-bottom: 7rem;
  }
}
