.main-content-gallery-inner-container {
  max-width: 1200px;
  margin: 0rem auto;
  position: relative;
 

}
.main-content-gallery-container {
  margin-bottom: 1rem;
}
.slider-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .5s ease-in-out;
  
}

.left-slide > div {
  height: 100%;
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-day);
  background-color: var(--color-orange);
}

.left-side h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
  width: 85%;
  transition: transform .5s ease-in-out;
}

.right-slide div {
  background-image: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  max-width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 25px;
}

button:hover {
  color: #222;
}


.slider-container .action-buttons button {
  position: absolute;
  left: 25%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateY(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url('../assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.slider-container .action-buttons .up-button {
  transform: translateX(-100%);
  border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-image: url('../assets/arrow-up.svg');
   background-repeat: no-repeat;
   background-position: center;
}
