header {
  background: url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.arrow-down {
  position: absolute;
  bottom: 0;
  left: 45%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  animation: bounce 3.5s ease infinite;
}
.arrow-down span {
  font-size: 0.8rem;
}
.arrow-down img {
  width: 50px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-size: 40%;
  background-position: right;
  max-width: 1192px;
  margin: 0 auto;
}
.heading-container p {
  margin: 1rem;
  margin-top: 1.5rem;
}
.logo {
  margin: 1rem;
}
.logo img {
  max-width: 25%;
}

.heading-contact-inner-container {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 15px;
  align-items: center;
  max-width: 1192px;
}
.heading-contact-container {
  margin-bottom: 3rem;
}
.header-contacts {
  display: flex;
  align-items: center;
  z-index: 9999;
}
.header-contacts button {
  display: none;
}
.heading-contact {
  display: flex;
  align-items: middle;
  margin-right: 1rem;
}
.heading-contact-container .header-contacts img {
  width: 30px;
  margin-right: 0.5rem;
}
.heading-contact-container a {
  letter-spacing: 0.5px;
  font-size: 1.36rem;
}

.heading-container-inner {
  max-width: 70%;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.heading-container .heading-container-inner h1 {
  letter-spacing: 0.1rem;
  font-size: 7rem;
  margin: 1.5rem;
  line-height: 5.7rem;
}
.heading-container form {
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
}
.heading-container form input {
  border-radius: 5px;
  max-width: 100%;
  font-size: 1rem;
  flex-basis: 40%;
  outline: 0;
  padding: 1rem;
}
.heading-container form button {
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
  flex-basis: 50%;
}
.heading-contact-container button {
  background: transparent;
  border-radius: 10px;
  flex-basis: 50%;
  padding: 0.8rem;
}
.heading-contact-container button:active {
  transform: translateY(5px);
}

@media (max-width: 768px) {
  .heading-container {
    max-width: revert;
    margin: 1rem;
  }
  .header-contacts button {
    display: block;
  }
  .heading-contact-container {
  }
  .heading-contact-inner-container {
    margin: 1rem;
  }
  .heading-container span {
    display: none;
  }
  .heading-container-inner {
    max-width: 100%;
  }

  .heading-contact-container .logo img {
    max-width: 85%;
  }
  .heading-contact-container .logo {
    flex-basis: 50%;
  }
  .heading-contact-container a {
    margin-right: 1rem;
    font-size: 0.9rem;
  }
  .header-contacts {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 15px;
    top: 90px;
    border: 4px solid var(--color-day);
    max-width: 150px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    padding: 1rem;
    border-radius: 5px;
  }
  .header-contacts img {
    width: 10px;
  }
  .heading-container form {
    flex-direction: column;
  }
  .heading-container .heading-container-inner h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 1rem;
  }

  .heading-container .logo {
    max-width: 70%;
  }
  .heading-container button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
@media (min-width: 769px) {
  .heading-contact-container button {
    display: none;
  }
}
