.heading-container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
}
.heading-container .heading-picture-container {
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.heading-container .heading-picture-container picture {
    flex-basis: 50%;

}
.heading-container .logo {
    max-width: 40%;
}
.heading-container .heading-contact-container {
    display: flex;
    align-items: middle;
    gap: 0.2rem;
}
.heading-container .heading-contact-container a {
    margin-right: 2rem;
}
.heading-container .heading-contact-container img {
    width: 20px;

}
.heading-container .heading-contact-container a {
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.heading-container h1 {
  letter-spacing: 0.1rem;
  font-size: 7rem;
  margin-top: 0.5rem;
  align-self: center;
}

button {
    background: transparent;
    padding: 1rem;
    cursor: pointer;
    margin: 0 auto;
    font-size: 2rem;
    transition: ease 1s;
   
   
}
button:hover {
    transition: ease 1s;
    transform: translate(-12px, -12px);
}

@media(max-width: 768px) {
    .heading-container {
        max-width: revert;
        margin: 1rem;
    }
    .heading-container .heading-contact-container {
        align-items: center;
    }
    .heading-container .heading-contact-container img {
        width:15px;
    }
    .heading-container .heading-contact-container a {
        font-size: 0.5rem;
    }
    .heading-container .heading-contact-container a {
        margin-right: 1rem;
    }
    .heading-container h1 {
        font-size: 2rem;
    }

    .heading-container .logo {
        max-width: 70%;
    }
    .heading-container button {
        font-size: 1rem;
        padding: 0.5rem
    }
}