main {
  background-color: var(--color-day);
}

.main-ourTeam-container {
  background-color: var(--color-night);
  padding-bottom: 2rem;

}
.main-ourTeam-container-inner {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid transparent

}
@media(max-width: 425px) {
  .main-ourTeam-container-inner {
    margin: 1rem;
  }
  .main-ourTeam-cards {
    flex-direction: column;
    align-items: center;
  }
}
.main-ourTeam-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.main-ourTeam-container-inner .main-ourTeam-card {
  display: flex;
  position: relative;
  flex-direction: column;

}
.main-ourTeam-container-inner .main-ourTeam-card img {
  border-radius: 15px;
  width: 350px;
  height: 400px;
  object-fit: cover;
}
.main-ourTeam-container-inner .main-ourTeam-card span {
  position: absolute;
  background: var(--color-night);
  padding: 0.5rem;
  border-radius: 10px;
  bottom: 2%;
  left: 1%;
}
