 .main-content-gallery-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 1rem

 }
 .main-content-gallery {
display: flex;
justify-content: space-around;
overflow: hidden;
flex-wrap: nowrap;
box-sizing: border-box;
 }
 .main-content-gallery-container h2 {
     text-align: center;
     grid-column: 1 / 3;
 }
 
 
  @media(max-width: 768px) {

    .main-content-gallery-container {

        margin: 1rem;
        display: flex;
        flex-direction: column;
    }
    
  }