@media (prefers-color-scheme: dark) {
       body {
        color: var(--color-night);
        background-color: var(--color-day);
    }
    .heading-container {
        background-image:   linear-gradient(to right, var(--color-night) 100%, var(--color-night) 100%),
                            linear-gradient(to bottom, var(--color-night) 100%, var(--color-night) 100%),
                            linear-gradient(to right, var(--color-night) 100%, var(--color-night) 100%),
                            linear-gradient(to bottom, var(--color-night) 100%, var(--color-night) 100%);
    }
    .heading-container button {
        border: 2px solid var(--color-night);
        color:  var(--color-night)
    }
    .heading-container button:hover {
        box-shadow: rgba(255, 255, 255, 0.4) 5px 5px,
                    rgba(255, 255, 255, 0.3) 10px 10px,
                    rgba(255, 255, 255, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px,
                    rgba(255, 255, 255, 0.05) 25px 25px;

    }
    .heading-container .heading-contact-container svg {
        fill: var(--color-night);
    }
    .heading-container .heading-contact-container a {
        color: var(--color-night)
    }
    .box {
        color: var(--color-day);
        background-color: var(--color-night);
    }
  }