.main-ourTeam-container {
    background-color: var(--color-bg-day);
  }
  .main-ourTeam-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid transparent;
  }
  
  .main-ourTeam-cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
   
  }
  .main-ourTeam-container-inner .main-ourTeam-card {
    display: flex;
    position: relative;
  }
  
  .main-ourTeam-card img {
    border-radius: 15px;
    width: 250px;
    object-fit: cover;
  }
  .main-ourTeam-card .social {
    position: absolute;
    top: 3%;
    right: 3%;
    display: none;
  }
  .main-ourTeam-card .social:hover {
    display: block;
  }
  .main-ourTeam-card .social img {
    width:50px;
  }
  .main-ourTeam-card img:hover + .social {
    display:block;
    animation: fadeInRight ease 0.5s;
  }
  .main-ourTeam-container-inner .main-ourTeam-card span {
    position: absolute;
    background: var(--color-night);
    padding: 0.5rem;
    border-radius: 10px;
    bottom: 2%;
    left: 1%;
  }
  @media (max-width: 768px) {
    .main-ourTeam-container-inner {
      margin: 1rem;
    }
    .main-ourTeam-cards {
      align-items: center;
      gap: 0.3rem;

    }
    .main-ourTeam-cards .main-ourTeam-card {
      flex-basis: 33%;
    }
    .main-ourTeam-cards img {
      height: 150px;
      max-width: 100%;
    }
    .main-ourTeam-cards .social img {
      height: auto;
      width: 30px
    }
    .main-ourTeam-container-inner .main-ourTeam-card span {
      font-size: 0.7rem;
    }
  }