
.main-price-container {
    color: var(--color-night);
}
.main-price-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--color-day);
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px;
    margin-bottom: 1rem
}
.main-price-container-inner h2 {
    text-align: center;
}
.main-price-container-inner-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    gap: 5vw;
    margin-bottom: 2rem;
    
}
.main-price-container-inner-card {
    border: 2px solid var(--color-night);
    border-radius: 10px;
    padding: 1rem;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw
}
.main-price-container-inner-card:last-child {
    background-color: var(--color-orange);
    border: 2px solid var(--color-night);
    color: var(--color-day)
}
.main-price-container-inner-card:last-child button {
    background-color: var(--color-bg-day);
    color: var(--color-day)
}
.main-price-container-inner-card button {
    background-color: #FCCA00;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.main-price-container-inner-card span {
    text-align: center;
    font-size: 2rem;
}
.main-price-container-inner-card h3 {
    text-align: center;
}
.main-price-container-inner-card ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.main-price-container-inner-card ul > li {

    list-style: none;
    position: relative;
    margin-bottom: 0;
}
.main-price-container-inner-card ul > li:first-child {
    margin-top: 0.5rem;
}
.main-price-container-inner-card ul > li:last-child {
    margin-bottom: 0.5rem;
}
.main-price-container-inner-card ul li:before {

    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25px;
    background-image: url('../assets/checked-svgrepo-com.svg');
    background-color: var(--color-bg-day);
    border-radius: 50%;
    background-repeat: no-repeat;
}
.main-price-container-inner p > span {
    text-decoration: underline;
}
.main-price-container-inner > p:last-child {
    border: 2px solid var(--color-night);
    border-radius: 10px;
    padding: 1rem
}

@media(max-width: 468px) {


    .main-price-container-inner-cards {
        justify-content: flex-start;
    }
    .main-price-container-inner-card span {
        font-size: 1rem;
    }
}