@import "./fonts.css";
@import "./keyframes.css";
@import "./animations.css";
@import "./day.css";
@import "./night.css";
@import "./header.css";
@import "./main.css";
@import "./benefits.css";
@import "./carousel.css";

:root {
    --color-day:   hsla(0, 3%, 6%, 1);
    --color-night: hsla(0, 0%, 87%, 1);
    --color-bg-day: hsla(0, 0%, 100%, 1);
    font-family: "Fira sans";
}
body {
    font-size: 18px;
}

