@import "./fonts.css";
@import "./keyframes.css";
@import "./day.css";
@import "./night.css";
@import "./header.css";
@import "./main.css";

:root {
    --color-day: hsla(0, 0%, 7%, 1);
    --color-night: hsla(0, 0%, 100%, 1);
    font-family: "Fira sans";
}
body {
    
    font-size: 18px;
    
}

