@import "./fonts.css";
@import "./keyframes.css";
@import "./animations.css";
@import "./header.css";
@import "./main.css";
@import "./benefits.css";
@import "./carousel.css";
@import "./accordeon.css";
@import "./footer.css";

:root {
  --color-day: hsla(228, 6%, 16%, 1);
  --color-night: hsla(0, 0%, 87%, 1);
  --color-day-transparent: hsla(228, 6%, 16%, 0.7);
  --color-bg-day: hsla(0, 0%, 100%, 1);
  --color-night-transparent: hsla(0, 0%, 87%, 0.7);
  font-family: "Fira sans";
}
body {
  font-size: 18px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
.inactive {
  display: none;
}
.active {
  display: flex;
  opacity: 1;
  animation: fadeInDown 0.3s ease;
}
h2 {
  font-size: 3rem;
  color: var(--color-night);
}
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
