.fifthStep__Container {
  display: flex;
  gap: 0.5rem;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}
.fifthStep__Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.fifthStep__Form label {
  border: 1px solid var(--color-day);
  padding: 1vw;
  border-radius: 5px;
}

.fifthStep__Container p {
  font-size: 0.8rem;
  padding: 1rem;
  background: var(--color-night);
  border-radius: 5px;
  color: var(--color-day);
  margin-bottom: 0;
}
@media (max-width: 468px) {
  .fifthStep__Container {
    flex-direction: column;
    max-width: 70%;
  }
  .fifthStep__Container p {
    max-width: 90%;
  }
}
